body {
  background-color: aliceblue;
}
.boite {
  width: 350px;
  border: 1px solid black;
  background-color: white;
  padding: 15px;
}
.filter_niveau {
  margin-bottom: 20px;
}
.filter_niveau input {
  margin-left: 10px;
}
.filter_niveau label {
  margin-left: 5px;
}
